@import 'config';
@import 'screen-style';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    min-height: 100%;
    background-color: $very-ligh-gray;
}